            <!-- Dashboard View -->
     <!-- Dashboard Section -->
     <div  class="relative h-screen text-center">
        <h2 class="text-3xl font-bold text-black mb-4 z-10 relative">Welcome to Admin Dashboard.</h2>
        <p class="text-xl text-white z-10 relative">{{ currentQuote }}</p>
        <!-- Image Section -->
        <div class="absolute inset-0 w-full h-full overflow-hidden">
            <img src="/assets/images/docloginn.png" alt="Dashboard Image" class="object-cover w-full h-full transform -translate-x-7" />
        </div>
    </div>