<div  class="appointments-dashboard pt-12">

    <!-- Table to display appointments -->
    <div class="bg-white rounded-lg shadow-md overflow-x-auto ">
        <table class="w-full text-left ">
            <thead class="bg-blue-100">
                <tr>
                    <th class="px-6 py-4 text-blue-800 font-medium">Feedback ID</th>
                    <th class="px-6 py-4 text-blue-800 font-medium">Patient ID</th>
                    <th class="px-6 py-4 text-blue-800 font-medium">Doctor</th>
                    <th class="px-6 py-4 text-blue-800 font-medium">Rating</th>
                    <th class="px-6 py-4 text-blue-800 font-medium">Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let feedback of feedback" class="hover:bg-blue-50">
                    <td class="px-6 py-4">{{ feedback.feedbackId }}</td>
                    <td class="px-6 py-4">{{ feedback.patient.patientId }}</td>
                    <td class="px-6 py-4">{{ feedback.doctor.name }}</td>
                    <td class="px-6 py-4">{{ feedback.rating}}</td>
                    <td class="px-6 py-4">{{ feedback.comments}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
