            <!-- Dashboard View -->
     <!-- Dashboard Section -->
     <div  class="relative h-screen text-center">
        <h2 class="text-3xl font-bold text-black mb-4 z-10 relative">Welcome to Patient Dashboard.</h2>
        <b><p class="text-xl text-red-600 z-10 relative">{{ currentQuote }}</p></b>
        <!-- Image Section -->
        <div class="absolute inset-0 w-full h-full overflow-hidden">
            <img src="/assets/images/patient.png" alt="Dashboard Image" class="object-cover w-full h-full transform -translate-x-7" />
        </div>
    </div>